[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/bullet3"]
	path = extern/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "extern/libepoxy"]
	path = extern/libepoxy
	url = https://github.com/a-day-old-bagel/libepoxy
[submodule "extern/xxd"]
	path = extern/xxd
	url = https://github.com/a-day-old-bagel/xxd
[submodule "extern/fastnoise"]
	path = extern/fastnoise
	url = https://github.com/auburns/fastnoise
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/sdl_vulkan"]
	path = extern/sdl_vulkan
	url = https://github.com/a-day-old-bagel/sdl_vulkan
[submodule "extern/spirv-cross"]
	path = extern/spirv-cross
	url = https://github.com/khronosgroup/spirv-cross
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/khronosgroup/glslang
[submodule "source/common/ezecs"]
	path = source/common/ezecs
	url = https://github.com/a-day-old-bagel/ezecs
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/tencent/rapidjson
[submodule "extern/gli"]
	path = extern/gli
	url = https://github.com/g-truc/gli
[submodule "extern/slikenet"]
	path = extern/slikenet
	url = https://github.com/slikesoft/slikenet
